APP_ENV=local
APP_DISPLAY_NAME=idea Service Demo
PUBLIC_API_BASE_URL=http://localhost:8080/api
FRONTEND_PORT=3000
BACKEND_PORT=8080
POSTGRES_PORT=5432
POSTGRES_DB=idea
POSTGRES_USER=idea
POSTGRES_PASSWORD=idea-local-password
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=idea
DATABASE_USER=idea
DATABASE_PASSWORD=idea-local-password
