apiVersion: v1
kind: Secret
metadata:
  name: {{ project.name }}-{{ selected_env }}-runtime-secrets
  namespace: {{ target.namespace }}
  labels:
    idea.rnen.kr/project: {{ project.name }}
    idea.rnen.kr/environment: {{ selected_env }}
type: Opaque
stringData:
{% for key, value in runtime_inline_secrets | dictsort %}
  {{ key }}: |-
{% for line in value.split('\n') %}
    {{ line }}
{% endfor %}
{% endfor %}
