apiVersion: v1
kind: Secret
metadata:
  name: idea-gitops-repository
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ gitops_repo_url }}
  username: {{ gitops_repo_username }}
  password: {{ gitops_repo_token }}
