server:
  dev:
    enabled: true
    devRootToken: "{{ vault_dev_root_token }}"
  dataStorage:
    enabled: false
  standalone:
    enabled: false

injector:
  enabled: false

ui:
  enabled: true

